  
#Workflow for building artifact with updated artifact no after every failure
name: build_artifact_no_workflow
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install ansible
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
  
    - name: Test the python code
      run: find . -name "*.py" | xargs -n 1 python3 
      
    - name: Test playbook
      run: ansible-playbook code/debug_msg.yml
        
    - name: Archive the test results
      uses: actions/upload-artifact@v2
      with:
         name: test-recipe-report.${{ steps.buildnumber.outputs.build_number }}
         path: ${{ github.workspace }}
      if: failure()
