name: 'artifacts_cleanup'
on:
  push:
    branches: [ master ]

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: geekyeggo/delete-artifact@v1
        with:
          name: my-artifact
