name: 'artifacts_cleanup'
on:
  push:
    branches: [ master ]

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: delete releases
        run: git fetch --all --tags && git tag | xargs hub release delete
